/* Empty. Add your own CSS if you like */
html, body, .scroll, ion-view, ion-content, ion-nav-view{
  background-color: transparent !important;
}
.box {
   position: absolute !important;
   width: 300px;
   height: 400px;
   top: 0;
   left: 0;
   margin-left: -100px;
   background: RGBA (0,0,0,0.6);
   z-index: 1000; // This shouldnt be enough
}
/*body {
  background-color: transparent !important;
}
.scroll {
  background-color: transparent !important;
}
ion-view {
  background-color:transparent !important;
}
ion-content {
  background-color: transparent !important;
}
ion-nav-view {
  background-color: transparent !important;
}*/
